body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #112D4E;
    color: white;
    text-align: center;
    padding: 1em;
}

nav {
    background: #3F72AF;
    padding: 0.5em;
    text-align: center;
}

.navs a {
    text-decoration: none;
    color: white;
    margin-right: 10px;
    padding: 10px;
}

.contents {
    display: flex;
    flex-wrap: wrap;
    min-height: calc(100vh - 160px);
}

aside {
    background-color: #DBE2EF;
    padding: 1em;
    text-align: center;
    flex: 1;
    display: grid;
    align-items: center;
}

main {
    background-color: #F6F6F6;
    padding: 1em;
    text-align: center;
    flex: 2;
    display: grid;
    align-items: center;
}

footer {
    background-color: #112D4E;
    color: white;
    clear: both;
    text-align: center;
    padding: 1em;
}
